.chooseAvatar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 100%;
  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
  }
}
.avatarsWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.avatar {
  width: 80px;
  cursor: pointer;
  position: relative;
  img {
    transform: scale(0.85);
    width: 100%;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1);
    }
  }
  &.chosen {
    img {
      transform: scale(1);
    }
  }
  &.chosen::after {
    content: '';
    position: absolute;
    background-image: url(../assets/images/check.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 75% 40%;
    background-size: contain;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .avatar {
    width: 20%;
    &.chosen {
      width: 30%;
    }
  }
}
